/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tektur:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shalimar&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Shalimar&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arizonia&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cherish&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap");
/*=============== VARIABLES CSS ===============*/

html {
  overflow-x: hidden;
  scroll-padding-top: 7rem;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: #444;
}

html::-webkit-scrollbar-thumb {
  background: rgb(244, 244, 82);
  border-radius: 5rem;
}

body {
  background: #222;
}
:root {
  --normal-font-size: 0.938rem;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1024px) {
  :root {
    --normal-font-size: 1rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: var(--normal-font-size);
  background-color: hsl(0, 0%, 6%);
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.card-container {
  flex: 1; /* Grow and fill the available space */
}

.footer {
  margin-top: auto; /* Push the footer to the bottom */
}

ul {
  list-style: none;
  /* Color highlighting when pressed on mobile devices */
  /*-webkit-tap-highlight-color: transparent;*/
}

a {
  text-decoration: none;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

/*=============== HEADER ===============*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: hsl(0, 0%, 2%);
  box-shadow: 0 2px 16px hsla(220, 32%, 8%, 0.3);
  z-index: 100;
}

/*=============== NAV ===============*/
.nav {
  height: 3.5rem;
}

.nav__logo,
.nav__burger,
.nav__close {
  color: #fff;
}

.nav__data {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  display: inline-flex;
  font-family: "Tektur", sans-serif;
  align-items: center;
  column-gap: 0.25rem;
  font-size: 1.5rem;
  font-weight: 600;
  /* Color highlighting when pressed on mobile devices */
  /*-webkit-tap-highlight-color: transparent;*/
}

.nav__logo i {
  font-weight: initial;
  font-size: 2rem;
}

.nav__toggle {
  position: relative;
  width: 32px;
  height: 32px;
}

.nav__burger,
.nav__close {
  position: absolute;
  width: max-content;
  height: max-content;
  inset: 0;
  margin: auto;
  font-size: 1.25rem;
  cursor: pointer;
  transition:
    opacity 0.1s,
    transform 0.4s;
}

.nav__close {
  opacity: 0;
}

/* Navigation for mobile devices */
@media screen and (max-width: 1118px) {
  .nav__menu {
    position: absolute;
    left: 0;
    top: 2.5rem;
    width: 100%;
    height: calc(100vh - 3.5rem);
    overflow: auto;
    pointer-events: none;
    opacity: 0;
    transition:
      top 0.4s,
      opacity 0.3s;
  }
  .nav__menu::-webkit-scrollbar {
    width: 0;
  }
  .nav__list {
    background-color: hsl(0, 0%, 2%);
    padding-top: 1rem;
  }
}

.nav__logo {
  width: 120px; /* Set the desired width */
  height: auto; /* Maintain aspect ratio */
}

.nav__logo.nav__logo_footer {
  width: 150px;
  height: auto;
}

@media screen and (max-width: 1117px) {
  .nav__logo {
    width: 100px;
  }
}

.nav__link {
  color: #fff;
  background-color: hsl(0, 0%, 2%);
  font-weight: 600;
  padding: 1.25rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s;
}

.nav__link:hover {
  background-color: hsl(220, 24%, 15%);
}

/* Show menu */
.show-menu {
  opacity: 1;
  top: 3.5rem;
  pointer-events: initial;
}

/* Show icon */
.show-icon .nav__burger {
  opacity: 0;
  transform: rotate(90deg);
}
.show-icon .nav__close {
  opacity: 1;
  transform: rotate(90deg);
}

/*=============== DROPDOWN ===============*/
.dropdown__item {
  cursor: pointer;
}

.dropdown__arrow {
  font-size: 1.25rem;
  font-weight: initial;
  transition: transform 0.4s;
}

.dropdown__link,
.dropdown__sublink {
  padding: 1.25rem 1.25rem 1.25rem 2.5rem;
  color: #fff;
  background-color: hsl(220, 24%, 15%);
  display: flex;

  align-items: center;
  column-gap: 0.5rem;
  font-weight: 600;
  transition: background-color 0.3s;
}

.dropdown__link i,
.dropdown__sublink i {
  font-size: 1.25rem;
  font-weight: initial;
}

.dropdown__link:hover,
.dropdown__sublink:hover {
  background-color: hsl(0, 0%, 2%);
}

.dropdown__menu,
.dropdown__submenu {
  max-height: 0;
  overflow: hidden;
  transition: max-height 4s ease-out;
}

/* Show dropdown menu & submenu */
.dropdown__item:hover .dropdown__menu,
.dropdown__subitem:hover > .dropdown__submenu {
  max-height: 1000px;
  transition: max-height 0.4s ease-in;
}

/* Rotate dropdown icon */
.dropdown__item:hover .dropdown__arrow {
  transform: rotate(180deg);
}

/*=============== DROPDOWN SUBMENU ===============*/
.dropdown__add {
  margin-left: auto;
}

.dropdown__sublink {
  background-color: hsl(220, 20%, 18%);
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 340px) {
  .container {
    margin-inline: 1rem;
  }

  .nav__link {
    padding-inline: 1rem;
  }
}

/* For large devices */
@media screen and (min-width: 1118px) {
  .container {
    margin-inline: auto;
  }

  .nav {
    height: calc(3.5rem + 2rem);
    display: flex;
    justify-content: space-between;
  }
  .nav__toggle {
    display: none;
  }
  .nav__list {
    height: 100%;
    display: flex;
    column-gap: 3rem;
  }
  .nav__link {
    height: 100%;
    padding: 0;
    justify-content: initial;
    column-gap: 0.25rem;
  }
  .nav__link:hover {
    background-color: transparent;
  }

  .dropdown__item,
  .dropdown__subitem {
    position: relative;
  }

  .dropdown__menu,
  .dropdown__submenu {
    max-height: initial;
    overflow: initial;
    position: absolute;
    left: 0;
    top: 6rem;
    opacity: 0;
    pointer-events: none;
    transition:
      opacity 0.3s,
      top 0.3s;
  }

  .dropdown__link,
  .dropdown__sublink {
    padding-inline: 1rem 3.5rem;
  }

  .dropdown__subitem .dropdown__link {
    padding-inline: 1rem;
  }

  .dropdown__submenu {
    position: absolute;
    left: 100%;
    top: 0.5rem;
  }

  /* Show dropdown menu */
  .dropdown__item:hover .dropdown__menu {
    opacity: 1;
    top: 5.5rem;
    pointer-events: initial;
    transition: top 0.3s;
  }

  /* Show dropdown submenu */
  .dropdown__subitem:hover > .dropdown__submenu {
    opacity: 1;
    top: 0;
    pointer-events: initial;
    transition: top 0.3s;
  }
}

footer {
  /* display: none; */
  /* position: relative; */
  bottom: 0;
  left: 0;
  right: 0;

  background: hsl(0, 0%, 2%);
  height: auto;
  width: 100%;
  padding-top: 40px;
  color: #fff;
  box-shadow: 0 2px 16px hsla(0, 0%, 0%, 0.3);
  transition: opacity 0.5s ease;
}
.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
}

footer .footer-content .dates {
  margin-top: -20px;
  font-family: "Nanum Brush Script", cursive;
  font-size: 2rem;
  letter-spacing: 2px;
}

.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}
.socials li {
  margin: 0 10px;
}
.socials a {
  text-decoration: none;
  color: #fff;
}
.socials a i {
  font-size: 1.7rem;
  transition: color 0.4s ease;
}
.socials a:hover i {
  color: aqua;
}

.footer-bottom {
  background: #000;
  width: 100vw;
  padding: 20px 0;
  text-align: center;
}
.footer-bottom p {
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom span {
  text-transform: uppercase;
  opacity: 0.4;
  font-weight: 200;
}

/* ============ COUNTDOWN ============ */
.body-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}

#time {
  display: flex;
  gap: 30px;
}

#time .circle {
  position: relative;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#time .circle {
  border-radius: 50%;
}

#time .circle svg {
  position: relative;
  width: 150px;
  height: 150px;
  transform: rotate(270deg);
}

#time .circle svg circle {
  width: 100%;
  height: 100%;
  fill: transparent;
  stroke-width: 8;
  stroke: #282828;
  stroke-linecap: round;
  transform: translate(5px, 5px);
}

#time .circle svg circle:nth-child(2) {
  stroke: var(--clr);
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
}

#time div {
  position: absolute;
  text-align: center;
  font-weight: 700;
  color: #fff;
  font-size: 3rem;
}

#time div span {
  position: absolute;
  transform: translateX(-50%);
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

#time .dots {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 1;
}

#time .dots::before {
  content: " ";
  position: absolute;
  top: -3px;
  width: 15px;
  height: 15px;
  background: var(--clr);
  border-radius: 50%;
  box-shadow:
    0 0 20px var(--clr),
    0 0 60px var(--clr);
}

.theta span {
  font-family: "Luckiest Guy", cursive;
  padding: 110px;
  font-size: 0.7em;
  font-weight: 500;
}

@keyframes glow {
  0% {
    text-shadow:
      0 0 10px #ff2972,
      0 0 20px #ff2972,
      0 0 30px #ff2972;
  }
  50% {
    text-shadow:
      0 0 10px #04fc43,
      0 0 20px #04fc43,
      0 0 30px #04fc43;
  }
  100% {
    text-shadow:
      0 0 10px #fee800,
      0 0 20px #fee800,
      0 0 30px #fee800;
  }
}

.theta1 {
  margin-top: 150px;
  margin-bottom: -190px;
  /* font-family: "Cherish", cursive; */
  font-size: 8em;
  font-weight: 100;
  color: #fff;
  text-align: center;
  line-height: 0.6em;
  animation: glow 2s infinite alternate;
}

.theta1 span {
  font-family: "Luckiest Guy", cursive;
  position: relative;
  bottom: -10px;
  font-weight: 400;
}
body {
  width: 100%;
  height: 100%;
  background-color: #111111;
  background-image: linear-gradient(
    32deg,
    rgba(8, 8, 8, 0.74) 30px,
    transparent
  );
  background-size: 60px 60px;
  background-position: -5px -5px;
}

/* Add this at the end of your CSS */

#time .circle {
  animation: discoLight 3s infinite;
}

#time .circle .dots::before {
  animation: discoLight 3s infinite;
}
/* Add your existing styles here */

.coming-soon {
  margin-top: 190px;
  /* margin-bottom: -190px; */
  font-family: "Shalimar", cursive;
  font-size: 8em;
  font-weight: 100;
  color: #fff;
  text-align: center;
  line-height: 0.6em;
  /* animation: glow 2s infinite alternate; */
  transform: rotate(-3deg);
}

body {
  font-size: 16px;
}

.btn-container {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: -200px; */
  flex-direction: column;
}

.btn-container .btn {
  padding: 5px;
}

.btn-container p {
  margin: 5px;
  font-size: small;
  color: #b9b9b9;
}

@media only screen and (max-width: 768px) {
  .body-container {
    margin-top: -300px;
    font-size: 14px;
    min-height: 40vh;
  }

  .btn-container {
    margin: 50px;
  }

  #time {
    flex-wrap: wrap;
    margin-top: 20em;
    flex-direction: column;
  }

  #time .circle {
    margin-bottom: 20px auto;
  }

  #time .circle svg {
    width: 100%;
    height: 100%;
  }

  #time div {
    font-size: 3.8rem;
  }

  #time .theta,
  #time .theta1 {
    font-size: 4em;
  }
}

@media (max-width: 991px) {
  .theta1 {
    font-size: 6em;
  }
}

@media only screen and (max-width: 562px) {
  body {
    font-size: 12px;
  }

  #time .circle {
    margin-bottom: 10px;
  }

  #time div {
    font-size: 2.5rem;
  }

  #time .theta,
  #time .theta1 {
    font-size: 3em;
  }
}

/* CSS */
.button-40 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  --glow-color: rgb(223, 223, 223);
  --glow-spread-color: rgba(255, 255, 255, 0.781);
  --enhanced-glow-color: rgb(255, 255, 255);
  --btn-color: rgba(255, 255, 255, 0.198);
  border: 0.25em solid var(--glow-color);
  padding: 1em 3em;
  color: var(--glow-color);
  font-size: 15px;
  font-weight: bold;
  background-color: var(--btn-color);
  border-radius: 1em;
  outline: none;
  box-shadow:
    0 0 1em 0.25em var(--glow-color),
    0 0 4em 1em var(--glow-spread-color),
    inset 0 0 0.75em 0.25em var(--glow-color);
  text-shadow: 0 0 0.5em var(--glow-color);
  position: relative;
  transition: all 0.3s;
}

.button-40::after {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 120%;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--glow-spread-color);
  filter: blur(2em);
  opacity: 0.7;
  transform: perspective(1.5em) rotateX(35deg) scale(1, 0.6);
}

.button-40:hover {
  color: #454545;
  background-color: var(--glow-color);
  box-shadow:
    0 0 1em 0.25em var(--glow-color),
    0 0 4em 2em #000,
    inset 0 0 0.75em 0.25em var(--glow-color);
}

.button-40:active {
  box-shadow:
    0 0 0.6em 0.25em var(--glow-color),
    0 0 2.5em 2em var(--glow-spread-color),
    inset 0 0 0.5em 0.25em var(--glow-color);
}

/* Add this to your existing styles */
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.theta {
  /* font-family: "Shalimar", cursive; */
  font-family: "Poppins", sans-serif;
  font-size: 8em;
  font-weight: 500;
  color: #fff;
  min-height: 100vh;
  padding: 30px;
  max-width: 1200px;
  margin: 0;
  /* text-align: center; */
  line-height: 0.6em;
  /* animation: glow 2s infinite alternate; */
  display: none;
}

.theta .theta-row {
  display: grid;
  grid-template-columns: 1fr 2px 1fr;
  grid-column-gap: 40px;
}

.theta .theta-span {
  padding: 0;
  text-align: left;
  font-size: 0.4em;
}

.theta-span {
  font-family: "Nanum Brush Script", cursive;
}

.theta .theta-row .theta-date {
  grid-area: theDate;
}

.theta .theta-row .theta-line {
  position: relative;
  background-color: white;
  grid-area: theLine;
}

.theta .theta-row .theta-line span {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #101010;
  border: 2px solid yellow;
  border-radius: 50%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.5s;
}

.theta .theta-row .theta-content {
  padding: 20px;
  background-color: #222222;
  border-radius: 10px;
  grid-area: theContent;
}

.theta .theta-row .theta-content .theta-header a {
  padding: 0px;
  margin: 0;
  /* padding-bottom: 8px; */
  color: yellow;
}

.theta .theta-row .theta-content .theta-header small {
  font-family: "Tektur";
  padding: 0px;
  margin: 0;
  font-weight: lighter;
  /* padding-bottom: 8px; */
  font-size: small;
}

.theta .theta-row .theta-content p {
  line-height: 1;
}

.theta .theta-row:nth-child(odd) {
  grid-template-areas: "theDate theLine theContent";
}

.theta .theta-row:nth-child(even) {
  grid-template-areas: "theContent theLine theDate";
}

.theta .theta-content,
.theta .theta-row .theta-date {
  margin-bottom: 35px;
}

.theta .theta-row .theta-date {
  margin-bottom: 35px;
}

.theta .theta-row:nth-child(odd) .theta-date {
  text-align: right;
}

.theta-header {
  font-size: large;
}

.theta-para {
  font-size: var(--normal-font-size);
  line-height: normal;
}

.theta .theta-date span {
  position: relative;
  display: inline;
  padding: 7px 13px;
  border: 2px solid yellow;
  border-radius: 25px;
  font-size: 20px;
  font-family: "Tektur", sans-serif;
}

.theta .theta-row .theta-line .ending {
  top: initial;
  bottom: 0;
}

.theta .theta-row:hover .theta-line span:not(.ending) {
  background-color: yellow;
  box-shadow: 0 0 9px 3px yellow;
}

.theta .theta-row .end {
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .theta {
    margin-top: 120px;
    font-size: 7em;
  }

  .theta .theta-date span {
    font-size: 16%;
  }

  .theta .theta-para {
    font-size: 15%;
  }

  .theta .theta-row:nth-child(odd),
  .theta .theta-row:nth-child(even) {
    grid-template-columns: 2px 1fr;
    grid-template-areas: "theLine theDate" "theLine theContent";
  }

  .theta .theta-row:nth-child(odd) .theta-date {
    text-align: left;
  }
}

.hero {
  font-size: clamp(40px, 10vw, 20px);
  line-height: 1;
  display: inline-block;
  color: #fff;
  z-index: 2;
  letter-spacing: 6px;
  font-family: "Shalimar", sans-serif;
  /* Bright things in dark environments usually cast that light, giving off a glow */
  filter: drop-shadow(0 1px 3px);
}

.demo {
  height: 50px;
  background: #fff;
}

.layers {
  position: relative;
}

.layers::before,
.layers::after {
  content: attr(data-text);
  position: absolute;
  width: 100%;
  z-index: -1;
}

.layers::before {
  top: 3px;
  left: 5px;
  color: #e0287d;
}

.layers::after {
  top: -3px;
  left: -5px;
  color: #1bc7fb;
}

.single-path {
  clip-path: polygon(
    0% 12%,
    53% 12%,
    53% 26%,
    25% 26%,
    25% 86%,
    31% 86%,
    31% 0%,
    53% 0%,
    53% 84%,
    92% 84%,
    92% 82%,
    70% 82%,
    70% 29%,
    78% 29%,
    78% 65%,
    69% 65%,
    69% 66%,
    77% 66%,
    77% 45%,
    85% 45%,
    85% 26%,
    97% 26%,
    97% 28%,
    84% 28%,
    84% 34%,
    54% 34%,
    54% 89%,
    30% 89%,
    30% 58%,
    83% 58%,
    83% 5%,
    68% 5%,
    68% 36%,
    62% 36%,
    62% 1%,
    12% 1%,
    12% 34%,
    60% 34%,
    60% 57%,
    98% 57%,
    98% 83%,
    1% 83%,
    1% 53%,
    91% 53%,
    91% 84%,
    8% 84%,
    8% 83%,
    4% 83%
  );
}

.paths {
  animation: paths 5s step-end infinite;
}

@keyframes paths {
  0% {
    clip-path: polygon(
      0% 43%,
      83% 43%,
      83% 22%,
      23% 22%,
      23% 24%,
      91% 24%,
      91% 26%,
      18% 26%,
      18% 83%,
      29% 83%,
      29% 17%,
      41% 17%,
      41% 39%,
      18% 39%,
      18% 82%,
      54% 82%,
      54% 88%,
      19% 88%,
      19% 4%,
      39% 4%,
      39% 14%,
      76% 14%,
      76% 52%,
      23% 52%,
      23% 35%,
      19% 35%,
      19% 8%,
      36% 8%,
      36% 31%,
      73% 31%,
      73% 16%,
      1% 16%,
      1% 56%,
      50% 56%,
      50% 8%
    );
  }

  5% {
    clip-path: polygon(
      0% 29%,
      44% 29%,
      44% 83%,
      94% 83%,
      94% 56%,
      11% 56%,
      11% 64%,
      94% 64%,
      94% 70%,
      88% 70%,
      88% 32%,
      18% 32%,
      18% 96%,
      10% 96%,
      10% 62%,
      9% 62%,
      9% 84%,
      68% 84%,
      68% 50%,
      52% 50%,
      52% 55%,
      35% 55%,
      35% 87%,
      25% 87%,
      25% 39%,
      15% 39%,
      15% 88%,
      52% 88%
    );
  }

  30% {
    clip-path: polygon(
      0% 53%,
      93% 53%,
      93% 62%,
      68% 62%,
      68% 37%,
      97% 37%,
      97% 89%,
      13% 89%,
      13% 45%,
      51% 45%,
      51% 88%,
      17% 88%,
      17% 54%,
      81% 54%,
      81% 75%,
      79% 75%,
      79% 76%,
      38% 76%,
      38% 28%,
      61% 28%,
      61% 12%,
      55% 12%,
      55% 62%,
      68% 62%,
      68% 51%,
      0% 51%,
      0% 92%,
      63% 92%,
      63% 4%,
      65% 4%
    );
  }

  45% {
    clip-path: polygon(
      0% 33%,
      2% 33%,
      2% 69%,
      58% 69%,
      58% 94%,
      55% 94%,
      55% 25%,
      33% 25%,
      33% 85%,
      16% 85%,
      16% 19%,
      5% 19%,
      5% 20%,
      79% 20%,
      79% 96%,
      93% 96%,
      93% 50%,
      5% 50%,
      5% 74%,
      55% 74%,
      55% 57%,
      96% 57%,
      96% 59%,
      87% 59%,
      87% 65%,
      82% 65%,
      82% 39%,
      63% 39%,
      63% 92%,
      4% 92%,
      4% 36%,
      24% 36%,
      24% 70%,
      1% 70%,
      1% 43%,
      15% 43%,
      15% 28%,
      23% 28%,
      23% 71%,
      90% 71%,
      90% 86%,
      97% 86%,
      97% 1%,
      60% 1%,
      60% 67%,
      71% 67%,
      71% 91%,
      17% 91%,
      17% 14%,
      39% 14%,
      39% 30%,
      58% 30%,
      58% 11%,
      52% 11%,
      52% 83%,
      68% 83%
    );
  }

  76% {
    clip-path: polygon(
      0% 26%,
      15% 26%,
      15% 73%,
      72% 73%,
      72% 70%,
      77% 70%,
      77% 75%,
      8% 75%,
      8% 42%,
      4% 42%,
      4% 61%,
      17% 61%,
      17% 12%,
      26% 12%,
      26% 63%,
      73% 63%,
      73% 43%,
      90% 43%,
      90% 67%,
      50% 67%,
      50% 41%,
      42% 41%,
      42% 46%,
      50% 46%,
      50% 84%,
      96% 84%,
      96% 78%,
      49% 78%,
      49% 25%,
      63% 25%,
      63% 14%
    );
  }

  90% {
    clip-path: polygon(
      0% 41%,
      13% 41%,
      13% 6%,
      87% 6%,
      87% 93%,
      10% 93%,
      10% 13%,
      89% 13%,
      89% 6%,
      3% 6%,
      3% 8%,
      16% 8%,
      16% 79%,
      0% 79%,
      0% 99%,
      92% 99%,
      92% 90%,
      5% 90%,
      5% 60%,
      0% 60%,
      0% 48%,
      89% 48%,
      89% 13%,
      80% 13%,
      80% 43%,
      95% 43%,
      95% 19%,
      80% 19%,
      80% 85%,
      38% 85%,
      38% 62%
    );
  }

  1%,
  7%,
  33%,
  47%,
  78%,
  93% {
    clip-path: none;
  }
}

.movement {
  /* Normally this position would be absolute & on the layers, set to relative here so we can see it on the div */
  position: relative;
  animation: movement 8s step-end infinite;
}

@keyframes movement {
  0% {
    top: 0px;
    left: -3px;
  }

  15% {
    top: 2px;
    left: 2px;
  }

  60% {
    top: 1px;
    left: -3px;
  }

  75% {
    top: -3px;
    left: 2px;
  }

  100% {
    top: 1px;
    left: 2px;
  }
}

.opacity {
  animation: opacity 5s step-end infinite;
}

@keyframes opacity {
  0% {
    opacity: 0.1;
  }

  5% {
    opacity: 0.7;
  }

  30% {
    opacity: 0.4;
  }

  45% {
    opacity: 0.6;
  }

  76% {
    opacity: 0.4;
  }

  90% {
    opacity: 0.8;
  }

  1%,
  7%,
  33%,
  47%,
  78%,
  93% {
    opacity: 0;
  }
}

.font {
  animation: font 7s step-end infinite;
}

@keyframes font {
  0% {
    font-weight: 100;
    color: #e0287d;
    filter: blur(3px);
  }

  20% {
    font-weight: 500;
    color: #fff;
    filter: blur(0);
  }

  50% {
    font-weight: 300;
    color: #1bc7fb;
    filter: blur(2px);
  }

  60% {
    font-weight: 700;
    color: #fff;
    filter: blur(0);
  }

  90% {
    font-weight: 500;
    color: #e0287d;
    filter: blur(6px);
  }
}

.glitch span {
  animation: paths 5s step-end infinite;
}

.glitch::before {
  animation:
    paths 5s step-end infinite,
    opacity 5s step-end infinite,
    font 8s step-end infinite,
    movement 10s step-end infinite;
}

.glitch::after {
  animation:
    paths 5s step-end infinite,
    opacity 5s step-end infinite,
    font 7s step-end infinite,
    movement 8s step-end infinite;
}

.hero-container {
  position: relative;
  padding: 200px 0;
  text-align: center;
  margin-bottom: -150px;
}

.environment {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.5;
  filter: blur(5px);
}

@media (max-width: 768px) {
  .hero {
    font-size: clamp(30px, 5vw, 10px);
  }
}

@media (max-width: 520px) {
  .hero {
    font-size: clamp(25px, 5vw, 10px);
  }
}

.event-container {
  padding: 20px;
  color: white;
  font-family: "Poppins", sans-serif;
  max-width: 800px;
  margin: 100px auto -4px;
}

.event-container h3.event-month {
  font-size: 40px;
  text-align: center;
  border-bottom: 1px solid #929292;
}

.event-container .event {
  box-shadow: 0 4px 16px -8px rgba(255, 255, 255, 0.831);
  display: flex;
  border-radius: 8px;
  margin: 32px 0;
}

.event .event-left {
  background: #444;
  min-width: 82px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.831);
  padding: 8px 48px;
  font-weight: bold;
  text-align: center;
  border-radius: 8px 0 0 8px;
}

.event .event-left .event-date .date {
  font-size: 36px;
}

.event .event-left .event-date .day {
  font-size: 16px;
  font-weight: normal;
}

.event .event-right {
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding: 0 24px;
}

.event .event-right .event-details {
  display: flex;
  align-items: center;
}

.event .event-right h3.event-title {
  font-size: 24px;
  margin: 24px 0 10px 0;
  color: yellow;
  text-transform: uppercase;
}



.event .event-right .event-timing,
.event .event-right button {
  background: rgba(247, 255, 4, 0.519);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  padding: 8px;
  border-radius: 16px;
  margin: 24px 12px 24px 0;
  font-size: 14px;
}

.event .event-right .event-timing i {
  /* height: 20px; */
  font-size: 20px;
  padding-right: 8px;
}

@media (max-width: 550px) {
  .event-container h3.event-month {
    font-size: 30px;
  }
  .event {
    flex-direction: column;
  }

  .event .event-left {
    padding: 0;
    border-radius: 8px 8px 0 0;
  }

  .event .event-left .event-date .date,
  .event .event-left .event-date .day {
    display: inline-block;
    font-size: 24px;
  }

  .event .event-left .event-date {
    padding: 10px 0;
  }
}

/* CSS */
.button-55 {
  align-self: center;
  background-color: #151515;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 16px; /*225px 255px 15px 15px 255px 225px 15px; */
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(255, 255, 255, 0.2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  /* font-family: Neucha, sans-serif; */
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: 0.35rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-55:hover {
  box-shadow: rgb(255, 255, 255) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.button-55:focus {
  box-shadow: rgba(255, 255, 255, 0.3) 2px 8px 4px -6px;
}

.card-container {
  color: #ddd;
  margin-top: 100px;
  text-align: center;
  /* margin: 50px; */
}

.tabs {
  display: flex;
  list-style: none;
  padding: 10px 0;
  justify-content: center;
  background-color: #f0f0f000;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tab {
  cursor: pointer;
  padding: 10px 20px;
  margin: 0 5px;
  border: none;
  background-color: transparent;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.tab.active {
  background-color: #6b836583;
}

.events-container {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: center;
}

.event-card {
  width: 100%;
  min-width: 300px;
  max-width: 400px;
  margin: 10px;
  padding: 15px;
  border: 1px solid #45a049;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  -ms-flex-preferred-size: calc(33.33333% - 30px);
  flex-basis: calc(33.33333% - 30px);

  margin: 0 15px 30px;

  overflow: hidden;

  border-radius: 28px;
}

.event-card:hover {
  transform: translateY(-5px);
}

.event-card p {
  margin: 0;
  font-size: 14px;
  text-align: left;
}

.register-button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #4caf50;
  color: white;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.register-button:hover {
  background-color: #45a049;
}

.event-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-height: 100%;
  overflow-y: auto;
}

h2 {
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.event-card-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.event-card p.date {
  font-weight: bold;
  color: #4caf50;
}

.event-card p.description {
  border-radius: 8px;
  padding: 3px;
  border: 1px solid #dddddd45;
  margin-top: 5px;
  margin-bottom: 10px;
}

.register-button {
  margin-top: auto; /* Align the button to the bottom of the card */
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.register-button:hover {
  background-color: #45a049;
}

@media screen and (max-width: 768px) {
  .tab {
    padding: 8px 12px;
    font-size: 12px;
  }

  .event-card {
    width: calc(50% - 20px);
  }
}

@media screen and (max-width: 480px) {
  .event-card {
    width: 100%;
  }
}

.contact-grid {
  padding-top: 50px;
  color: #fff; /* Change text color to white */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; /* Set background color to black */
}

.contact-card {
  min-height: 200px;
  width: 300px;
  margin: 20px;
  padding: 20px;
  background-color: #121212;
  color: #fff;
  border-radius: 8px;
  border: 2px solid #ffe600;
  box-shadow: 0 0 20px rgba(247, 255, 23, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-card p {
  text-align: center; /* Center the content within the <p> tag */
}

/* .contact-card h2 {
  color: yellow; 
} */

.contact-card strong {
  font-weight: bold;
}

@media screen and (max-width: 1117px) {
  .contact-grid {
    padding-top: 120px;
  }
}

@media screen and (max-width: 600px) {
  .contact-grid {
    padding-top: 100px;
    font-size: 1rem;
    width: 100%;
  }
}
.contact .socials li a {
  text-decoration: none;
  color: #ffd700; /* Set the color to yellow (replace with your preferred color code) */
  font-size: 24px;
}

:root {
  --first-color: #2e2e41;
  --second-color: #4caf50;
  --third-color: #121212;
  --text-color: #fff;
  --box-shadow: 0 5px 25px rgb(2, 2, 2, 0.1);
  --text-shadow: 0 5px 25px rgb(2, 2, 2, 0.1);
}

.card-container {
  padding-top: 150px;
  margin: 0 80px;
  position: reltive;
}

.tab-nav-bar {
  position: relative;
  margin: 65px 10px 40px 10px;
}

.tab-navigation {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: fit-content;
  margin: 0 auto;
}

.tab-menu {
  color: var(--text-color);
  list-style: none;
  background: var(--third-color);
  max-width: 800px;
  padding: 10px;
  white-space: nowrap;
  border-bottom: 1px solid var(--third-color);
  border-radius: 50px;
  box-shadow: var(--box-shadow);
  overflow-x: auto;
  user-select: none;
  scroll-behavior: smooth;
}

.tab-menu.dragging {
  scroll-behavior: unset;
  cursor: grab;
}

.tab-menu.dragging .tab-btn {
  pointer-events: none;
}

.tab-menu::-webkit-scrollbar {
  display: none;
}
.tab-btn {
  color: var(--text-color);
  display: inline-block;
  font-size: 1em;
  font-weight: 400;
  margin: 0 2px;
  padding: 10px 20px;
  border-radius: 30px;
  cursor: pointer;
  user-select: none;
  transition: 0.3s ease;
}

.tab-btn:hover {
  background: var(--first-color);
}

.tab-btn.active {
  background: var(--second-color);
}

.left-btn,
.right-btn {
  position: absolute;
  color: var(--text-color);
  font-size: 1.8rem;
  padding: 10px;
  cursor: pointer;
}

.left-btn {
  left: 0;
  /* border-radius: 50%; */
  background: linear-gradient(to left, transparent, #1a1a1acf 80%);
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  display: none;
}

.right-btn {
  right: 0;
  /* border-radius: 50%; */
  background: linear-gradient(to left, transparent, #1a1a1acf 80%);
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin: 4rem 5vw;
  padding: 0;
  list-style-type: none;
}

.card {
  position: relative;
  display: block;
  height: 100%;
  border-radius: calc(var(--curve) * 1px);
  overflow: hidden;
  text-decoration: none;
}

.card__image {
  width: 100%;
  height: auto;
}

.card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  border-radius: calc(var(--curve) * 1px);
  background-color: var(--surface-color);
  transform: translateY(100%);
  transition: 0.2s ease-in-out;
}

.card:hover .card__overlay {
  transform: translateY(0);
}

.card__header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 2em;
  border-radius: calc(var(--curve) * 1px) 0 0 0;
  background-color: var(--surface-color);
  transform: translateY(-100%);
  transition: 0.2s ease-in-out;
}

.card__arc {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 100%;
  right: 0;
  z-index: 1;
}

.card__arc path {
  fill: var(--surface-color);
  d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}

.card:hover .card__header {
  transform: translateY(0);
}

.card__thumb {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.card__title {
  font-size: 1em;
  margin: 0 0 0.3em;
  color: #6a515e;
}

.card__tagline {
  display: block;
  margin: 1em 0;
  font-family: "MockFlowFont";
  font-size: 0.8em;
  color: #d7bdca;
}

.card__status {
  font-size: 0.8em;
  color: #d8006c;
}

.card__description {
  padding: 0 2em 2em;
  margin: 0;
  color: #000000;
  font-family: "MockFlowFont";
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 9;
  overflow: hidden;
}

.workshop-section {
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.workshop-section .theta {
  margin: 20px auto;
}

.tagline-description {
  text-align: center;
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

.tagline-description q {
  display: block;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.tagline-description p {
  font-size: 1.2em;
  line-height: 1.4;
}

/* CSS */
.button-85 {
  margin: 0 10px;
  padding: 0.35em;
  padding-left: 1em;
  padding-right: 1em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.register-btn {
  text-align: center;
}

q {
  font-family: "Indie Flower";
  font-size: 3em;
}

.center-hr {
  text-align: center;
}

.center-hr hr {
  width: 70%;
  margin: auto;
}

.center-hr hr {
  color: white;
  overflow: visible; /* For IE */
  height: 30px;
  border-style: solid;
  border-color: white;
  border-width: 2px 0 0 0;
  border-radius: 20px;
}
.center-hr hr:before {
  /* Not really supposed to work, but does */
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: white;
  border-width: 0 0 2px 0;
  border-radius: 20px;
}
.ag-format-container {
  width: 1142px;
  margin: 0 auto;
}
.ag-courses_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  padding: 50px 0;
}
.ag-courses_item {
  -ms-flex-preferred-size: calc(33.33333% - 30px);
  flex-basis: calc(33.33333% - 30px);

  margin: 0 15px 30px;

  overflow: hidden;

  border-radius: 28px;
}
.ag-courses-item_link {
  display: block;
  padding: 30px 20px;
  background-color: #121212;

  overflow: hidden;

  position: relative;
}
.ag-courses-item_link:hover,
.ag-courses-item_link:hover .ag-courses-item_date {
  text-decoration: none;
  color: #fff;
}
.ag-courses-item_link:hover .ag-courses-item_bg {
  -webkit-transform: scale(10);
  -ms-transform: scale(10);
  transform: scale(10);
}
.ag-courses-item_title {
  min-height: 87px;
  margin: 0 0 25px;
  line-height: 1;
  overflow: hidden;

  font-weight: bold;
  font-size: 30px;
  color: #fff;

  z-index: 2;
  position: relative;
}
.ag-courses-item_date-box {
  font-size: 18px;
  color: #fff;

  z-index: 2;
  position: relative;
}
.ag-courses-item_date {
  font-weight: bold;
  color: #f9b234;

  -webkit-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  transition: color 0.5s ease;
}
.ag-courses-item_bg {
  height: 128px;
  width: 128px;
  background-color: #f9b234;

  z-index: 1;
  position: absolute;
  top: -75px;
  right: -75px;

  border-radius: 50%;

  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.ag-courses_item:nth-child(2n) .ag-courses-item_bg {
  background-color: #3ecd5e;
}
.ag-courses_item:nth-child(3n) .ag-courses-item_bg {
  background-color: #e44002;
}
.ag-courses_item:nth-child(4n) .ag-courses-item_bg {
  background-color: #952aff;
}
.ag-courses_item:nth-child(5n) .ag-courses-item_bg {
  background-color: #cd3e94;
}
.ag-courses_item:nth-child(6n) .ag-courses-item_bg {
  background-color: #4c49ea;
}

@media only screen and (max-width: 979px) {
  .ag-courses_item {
    -ms-flex-preferred-size: calc(50% - 30px);
    flex-basis: calc(50% - 30px);
  }
  .ag-courses-item_title {
    font-size: 24px;
  }
}

@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }
}
@media only screen and (max-width: 639px) {
  .ag-courses_item {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .ag-courses-item_title {
    min-height: 72px;
    line-height: 1;

    font-size: 24px;
  }
  .ag-courses-item_link {
    padding: 22px 40px;
  }
  .ag-courses-item_date-box {
    font-size: 16px;
  }
}

.workshop-section,
.ag-courses-item_title {
  font-family: "Josefin Sans", sans-serif;
}

.wrapper {
  margin-top: 100px;
}

.wrapper .title {
  text-align: center;
}

.title h4 {
  display: inline-block;
  padding: 20px;
  color: #e9e9e9;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 1.2px;
  word-spacing: 5px;
  border: 1px solid rgba(255, 255, 255, 0.757);
  border-radius: 15px;
  text-transform: uppercase;
  backdrop-filter: blur(15px);
  box-shadow: 0 10px 10px rgba(255, 255, 255, 0.524);
  word-wrap: break-word;
}

@media screen and (max-width: 768px) {
  .title h4 {
    font-size: 20px;
  }
}

.wrapper .card_Container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 40px 0;
}

.card_Container .card {
  position: relative;
  width: 300px;
  height: 400px;
  margin: 20px;
  overflow: hidden;
  box-shadow:
    0 30px 30px -20px rgba(0, 0, 0, 1),
    inset 0 0 0 1000px rgba(67, 52, 109, 0.6);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card .imbBx,
.imbBx img {
  width: 100%;
  height: 100%;
}

.card .content {
  position: absolute;
  bottom: -160px;
  width: 100%;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  backdrop-filter: blur(15px);
  box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  transition: bottom 0.5s;
  transition-delay: 0.65s;
}

.card:hover .content {
  bottom: 0;
  transition-delay: 0s;
}

.content .contentBx h3 {
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  margin: 20px 0 15px;
  line-height: 1.1em;
  transition: 0.5s;
  transition-delay: 0.6s;
  opacity: 0;
  transform: translateY(-20px);
}

.card:hover .content .contentBx h3 {
  opacity: 1;
  transform: translateY(0);
}

.content .contentBx h3 span {
  font-size: 12px;
  font-weight: 300;
  text-transform: initial;
}

.content .sci {
  position: relative;
  bottom: 10px;
  display: flex;
}

.content .sci li {
  list-style: none;
  margin: 0 10px;
  transform: translateY(40px);
  transition: 0.5s;
  opacity: 0;
  transition-delay: calc(0.2s * var(--i));
}

.card:hover .content .sci li {
  transform: translateY(0);
  opacity: 1;
}

.content .sci li a {
  color: #fff;
  font-size: 24px;
}


.ul {
  padding-top: 50px;
  padding-bottom: 150px;
--col-gap: 2rem;
--row-gap: 2rem;
--line-w: 0.25rem;
display: grid;
grid-template-columns: var(--line-w) 1fr;
grid-auto-columns: max-content;
column-gap: var(--col-gap);
list-style: none;
width: min(60rem, 90%);
margin-inline: auto;
}

/* line */
.ul::before {
content: "";
grid-column: 1;
grid-row: 1 / span 20;
background: rgb(225, 225, 225);
border-radius: calc(var(--line-w) / 2);
}

/* columns*/

/* row gaps */
ul li:not(:last-child) {
margin-bottom: var(--row-gap);
}

/* card */
.ul li {
  color: white;
grid-column: 2;
--inlineP: 1.5rem;
margin-inline: var(--inlineP);
grid-row: span 2;
display: grid;
grid-template-rows: min-content min-content min-content;
}

/* date */
.ul li .date {
--dateH: 3rem;
height: var(--dateH);
margin-inline: calc(var(--inlineP) * -1);

text-align: center;
background-color: var(--accent-color);

color: white;
font-size: 1.25rem;
font-weight: 700;

display: grid;
place-content: center;
position: relative;

border-radius: calc(var(--dateH) / 2) 0 0 calc(var(--dateH) / 2);
}

/* date flap */
.ul li .date::before {
content: "";
width: var(--inlineP);
aspect-ratio: 1;
background: var(--accent-color);
background-image: linear-gradient(rgba(0, 0, 0, 0.2) 100%, transparent);
position: absolute;
top: 100%;

clip-path: polygon(0 0, 100% 0, 0 100%);
right: 0;
}

/* circle */
.ul li .date::after {
content: "";
position: absolute;
width: 2rem;
aspect-ratio: 1;
background: var(--bgColor);
border: 0.3rem solid var(--accent-color);
border-radius: 50%;
top: 50%;

transform: translate(50%, -50%);
right: calc(100% + var(--col-gap) + var(--line-w) / 2);
}

/* title descr */
.ul li .title,
.ul li .descr {
background: var(--bgColor);
position: relative;
padding-inline: 1.5rem;
}
.ul li .title {
font-size: 24px;
margin: 24px 0 10px 0;
color: rgb(191, 191, 191);
text-transform: uppercase;
overflow: hidden;
padding-block-start: 1.5rem;
padding-block-end: 1rem;
font-weight: 700;
}
.ul li .descr {
padding-block-end: 1.5rem;
font-weight: 300;
}

/* shadows */
.ul li .title::before,
.ul li .descr::before {
content: "";
position: absolute;
width: 90%;
height: 0.5rem;
background: rgba(0, 0, 0, 0.5);
left: 50%;
border-radius: 50%;
filter: blur(4px);
transform: translate(-50%, 50%);
}
.ul li .title::before {
bottom: calc(100% + 0.125rem);
}

.ul li .descr::before {
z-index: -1;
bottom: 0.25rem;
}

@media (min-width: 40rem) {
.ul {
  grid-template-columns: 1fr var(--line-w) 1fr;
}
.ul::before {
  grid-column: 2;
}
.ul li:nth-child(odd) {
  grid-column: 1;
}
.ul li:nth-child(even) {
  grid-column: 3;
}

/* start second card */
.ul li:nth-child(2) {
  grid-row: 2/4;
}

.ul li:nth-child(odd) .date::before {
  clip-path: polygon(0 0, 100% 0, 100% 100%);
  left: 0;
}

.ul li:nth-child(odd) .date::after {
  transform: translate(-50%, -50%);
  left: calc(100% + var(--col-gap) + var(--line-w) / 2);
}
.ul li:nth-child(odd) .date {
  border-radius: 0 calc(var(--dateH) / 2) calc(var(--dateH) / 2) 0;
}
}

.cta {
  margin-top: 10px;
  position: relative;
  /* margin: auto; */
  padding: 12px 18px;
  transition: all 0.2s ease;
  border: none;
  background: none;
  cursor: pointer;
}

.cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50px;
  background: #b1dae7;
  width: 45px;
  height: 45px;
  transition: all 0.3s ease;
}

.cta span {
  position: relative;
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #234567;
}

.cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #234567;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}

.cta:hover:before {
  width: 100%;
  background: #b1dae7;
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active {
  transform: scale(0.95);
}


.button {
  width: 140px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0px 15px;
  background-color: red;
  border-radius: 10px;
  border: none;
  color: white;
  position: relative;
  cursor: pointer;
  font-weight: 900;
  transition-duration: .2s;
  background: linear-gradient(0deg, #000, #272727);
}

.button:before, .button:after {
  content: '';
  position: absolute;
  left: -2px;
  top: -2px;
  border-radius: 10px;
  background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094, 
		#0000ff, #00ff00,#ffff00, #ff0000);
  background-size: 400%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;
  animation: steam 20s linear infinite;
}

@keyframes steam {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

.button:after {
  filter: blur(50px);
}

button {
  position: relative;
  width: 130px;
  height: 35px;
  border-radius: 30px;
  background-color: rgb(0, 0, 0);
  border: 1px #000000 solid;
  overflow: hidden;
}

.text1 {
  font-size: 15px;
  font-weight: 600;
  margin-left: 22%;
  color: white;
}

.text2 {
  position: absolute;
  top: 25%;
  left: -50px;
  font-weight: 700;
  font-size: 14px;
  color: white;
}

.icon {
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.5s;
}

.instagram .icon::before {
  position: absolute;
  left: -100px;
  top: 0;
  z-index: -1;
  content: '';
  width: 130px;
  height: 33px;
  border-radius: 30px;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  ;
}

.youtube .icon::before {
  position: absolute;
  left: -100px;
  top: 0;
  z-index: -1;
  content: '';
  width: 130px;
  height: 33px;
  border-radius: 30px;
  background-color: #cd201f;
}

.linkedin .icon::before {
  position: absolute;
  left: -100px;
  top: 0;
  z-index: -1;
  content: '';
  width: 130px;
  height: 33px;
  border-radius: 30px;
  background-color: #2867b2;
}

button:hover .icon {
  transform: translateX(96px);
  transition: transform 0.5s;
}

button:hover .text2 {
  transform: translateX(100px);
  transition: transform 0.6s;
}

button:active {
  transform: scale(1.03);
}

.glitch , .glitch::after {
  padding: 1px 5px;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: transparent;
  position: relative;
}

.glitch::after {
  --move1: inset(50% 50% 50% 50%);
  --move2: inset(31% 0 40% 0);
  --move3: inset(39% 0 15% 0);
  --move4: inset(45% 0 40% 0);
  --move5: inset(45% 0 6% 0);
  --move6: inset(14% 0 61% 0);
  clip-path: var(--move1);
  content: 'ABX';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
}

.glitch:hover::after {
  animation: glitch_4011 1s;
  text-shadow: 10 10px 10px black;
  animation-timing-function: steps(2, end);
  text-shadow: -3px -3px 0px #1df2f0, 3px 3px 0px #E94BE8;
  background-color: transparent;
  /* border: 3px solid rgb(0, 255, 213); */
}

.glitch:hover {
  /* text-shadow: -1px -1px 0px #1df2f0, 1px 1px 0px #E94BE8; */
}

.glitch:hover {
  background-color: transparent;
  /* border: 1px solid rgb(0, 255, 213); */
  /* box-shadow: 0px 10px 10px -10px rgb(0, 255, 213); */
}

@keyframes glitch_4011 {
  0% {
    clip-path: var(--move1);
    transform: translate(0px,-10px);
  }

  10% {
    clip-path: var(--move2);
    transform: translate(-10px,10px);
  }

  20% {
    clip-path: var(--move3);
    transform: translate(10px,0px);
  }

  30% {
    clip-path: var(--move4);
    transform: translate(-10px,10px);
  }

  40% {
    clip-path: var(--move5);
    transform: translate(10px,-10px);
  }

  50% {
    clip-path: var(--move6);
    transform: translate(-10px,10px);
  }

  60% {
    clip-path: var(--move1);
    transform: translate(10px,-10px);
  }

  70% {
    clip-path: var(--move3);
    transform: translate(-10px,10px);
  }

  80% {
    clip-path: var(--move2);
    transform: translate(10px,-10px);
  }

  90% {
    clip-path: var(--move4);
    transform: translate(-10px,10px);
  }

  100% {
    clip-path: var(--move1);
    transform: translate(0);
  }
}

