.home__content {
    padding: 9rem 0 2rem;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3rem;
}

.home__content {
    display: grid;
    position: relative;
    padding-top: 2rem;
}

.home__img {
    height: 420px;
    transform: translateY(-3rem);
    justify-self: center;
}

.home__indicator {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: rgb(229, 229, 229);
    position: absolute;
    bottom: 10%;
    left: 32%;
}

.home-container {
  padding: 110px;
}

.home__indicator::after {
    content: '';
    position: absolute;
    background: rgb(229, 229, 229);
    width: 1px;
    height: 75px;
    top: 0;
    right: 45%;
}

.home__details-img {
    position: absolute;
    bottom: 0;
    right: 70%;
}

.home_details-title {
    font-size: 50px;
    font-weight: 600;
    text-align: right;
}

.home__details-subtitle {
    display: block;
    font-size: 22px;
    text-align: right;
}

.home__subtitle {
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.home__title {
    font-size: 60px;
    font-weight: 600;
    line-height: 109%;
    margin-bottom: 15px;
}

.home__description {
    margin-bottom: 25px;
    padding-right: 2rem;
}

.type--A {
    --line_color: #fdfdfd;
    --back_color: #B2A4D4;
  }
  
  .button {
    position: relative;
    z-index: 0;
    width: 240px;
    height: 56px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    color: var(--line_color);
    letter-spacing: 2px;
    transition: all 0.3s ease;
  }
  .button:not(:last-child) {
    margin-bottom: 64px;
  }
  .button__text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .button::before,
  .button::after,
  .button__text::before,
  .button__text::after {
    content: "";
    position: absolute;
    height: 3px;
    border-radius: 2px;
    background: var(--line_color);
    transition: all 0.5s ease;
  }
  .button::before {
    top: 0;
    left: 54px;
    width: calc(100% - 56px * 2 - 16px);
  }
  .button::after {
    top: 0;
    right: 54px;
    width: 8px;
  }
  .button__text::before {
    bottom: 0;
    right: 54px;
    width: calc(100% - 56px * 2 - 16px);
  }
  .button__text::after {
    bottom: 0;
    left: 54px;
    width: 8px;
  }
  .button__line {
    position: absolute;
    top: 0;
    width: 56px;
    height: 100%;
    overflow: hidden;
  }
  .button__line::before {
    content: "";
    position: absolute;
    top: 0;
    width: 150%;
    height: 100%;
    box-sizing: border-box;
    border-radius: 300px;
    border: solid 3px var(--line_color);
  }
  .button__line:nth-child(1),
  .button__line:nth-child(1)::before {
    left: 0;
  }
  .button__line:nth-child(2),
  .button__line:nth-child(2)::before {
    right: 0;
  }
  .button:hover {
    letter-spacing: 6px;
  }
  .button:hover::before,
  .button:hover .button__text::before {
    width: 8px;
  }
  .button:hover::after,
  .button:hover .button__text::after {
    width: calc(100% - 56px * 2 - 16px);
  }
  .button__drow1,
  .button__drow2 {
    position: absolute;
    z-index: -1;
    border-radius: 16px;
    transform-origin: 16px 16px;
  }
  .button__drow1 {
    top: -16px;
    left: 40px;
    width: 32px;
    height: 0;
    transform: rotate(30deg);
  }
  .button__drow2 {
    top: 44px;
    left: 77px;
    width: 32px;
    height: 0;
    transform: rotate(-127deg);
  }
  .button__drow1::before,
  .button__drow1::after,
  .button__drow2::before,
  .button__drow2::after {
    content: "";
    position: absolute;
  }
  .button__drow1::before {
    bottom: 0;
    left: 0;
    width: 0;
    height: 32px;
    border-radius: 16px;
    transform-origin: 16px 16px;
    transform: rotate(-60deg);
  }
  .button__drow1::after {
    top: -10px;
    left: 45px;
    width: 0;
    height: 32px;
    border-radius: 16px;
    transform-origin: 16px 16px;
    transform: rotate(69deg);
  }
  .button__drow2::before {
    bottom: 0;
    left: 0;
    width: 0;
    height: 32px;
    border-radius: 16px;
    transform-origin: 16px 16px;
    transform: rotate(-146deg);
  }
  .button__drow2::after {
    bottom: 26px;
    left: -40px;
    width: 0;
    height: 32px;
    border-radius: 16px;
    transform-origin: 16px 16px;
    transform: rotate(-262deg);
  }
  .button__drow1,
  .button__drow1::before,
  .button__drow1::after,
  .button__drow2,
  .button__drow2::before,
  .button__drow2::after {
    background: var(--back_color);
  }
  .button:hover .button__drow1 {
    animation: drow1 ease-in 0.06s;
    animation-fill-mode: forwards;
  }
  .button:hover .button__drow1::before {
    animation: drow2 linear 0.08s 0.06s;
    animation-fill-mode: forwards;
  }
  .button:hover .button__drow1::after {
    animation: drow3 linear 0.03s 0.14s;
    animation-fill-mode: forwards;
  }
  .button:hover .button__drow2 {
    animation: drow4 linear 0.06s 0.2s;
    animation-fill-mode: forwards;
  }
  .button:hover .button__drow2::before {
    animation: drow3 linear 0.03s 0.26s;
    animation-fill-mode: forwards;
  }
  .button:hover .button__drow2::after {
    animation: drow5 linear 0.06s 0.32s;
    animation-fill-mode: forwards;
  }
  @keyframes drow1 {
    0% {
      height: 0;
    }
    100% {
      height: 100px;
    }
  }
  @keyframes drow2 {
    0% {
      width: 0;
      opacity: 0;
    }
    10% {
      opacity: 0;
    }
    11% {
      opacity: 1;
    }
    100% {
      width: 120px;
    }
  }
  @keyframes drow3 {
    0% {
      width: 0;
    }
    100% {
      width: 80px;
    }
  }
  @keyframes drow4 {
    0% {
      height: 0;
    }
    100% {
      height: 120px;
    }
  }
  @keyframes drow5 {
    0% {
      width: 0;
    }
    100% {
      width: 124px;
    }
  }
  .home__description {
    font-size: 15px;
  }
@media screen and (max-width: 1200px) {
    .home-img {
        height: 400px;
    }
    .home__title {
      font-size: 40px;
    }
    .home__subtitle {
      font-size: 25px;
    }
    .home__description {
      font-size: 14px;
    }
  img {
    width: 300px;
    height: 450px;
  }
}  

@media screen and (max-width: 992px) {
  
  img {
    width: 300px;
    height: 450px;
  }
    .home-container {
      padding: 30px;
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }

    .home__content {
        padding: 8rem 0 2rem;
    }

    .home__img {
        height: 300px;
        transform: translateY(0);
    }

    .home__indicator {
        bottom: initial;
        left: initial;
        top: 12rem;
        right: 22rem;
    }

    .home__indicator::after {
        top: -4rem;
        height: 68px;
    }

    .home__details-img {
        right: 23rem;
        bottom: 37rem;
    }

    .home__description {
        padding-right: 0;
    }
}

@media screen and (max-width: 866px) {

    .home__indicator {
      bottom: initial;
      left: initial;
      top: 12rem;
      right: 17rem;
  }
  .home__details-img {
      right: 18rem;
      bottom: 37rem;
  }
}

@media screen and (max-width: 767px) {
  .home__content {
    padding: 0;
    grid-template-columns: 1fr;
    row-gap: 1rem;
  }

}